Lec-4/Pattern4
Lec-4/Pattern5
Lec-4/Pattern7
Lec-4/Pattern8
Lec-4/Pattern9
Lec-4/Pattern10
Lec-4/Pattern11
Lec-4/Pattern12
Lec-4/Pattern13
Lec-4/Pattern14
Lec-4/Pattern15
Lec-4/PAttern16
Lec-4/Pattern17
Lec-4/PAttern18
Lec-5/BitwiseOperators
Lec-5/continue
Lec-5/forFib
Lec-5/forPrime
Lec-5/forSum
Lec-6/BinToDec
Lec-6/DecToBin
Lec-8/counting
Lec-8/isPrime
Lec-8/NCR
Lec-8/ncr1
Lec-8/passByValue
Lec-8/Power
